<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Software Development Engineer at
      <a class="underline-link" href="http://noon.com/" target="_blank">noon</a>, making your shopping better and easier with awesome people. I worked for 
      <a class="underline-link" href="http://bld.ai/" target="_blank">Bld.ai</a>, building a digital twin for an oil super major, enhancing the power of economic modelling and making the market analysis more easier. Also, I am graudated from 
      <a class="underline-link" href="http://www.azhar.edu.eg/" target="_blank">Al-Azhar University</a>, with a bachelor of engineering in the major of Systems and Computer Engineering. Indeed, I am passionate of algorithms and data structures, having excellent problem-solving skills that developed over my journey in competitive programming, reaching 
      <a class="underline-link" href="http://www.icpc.global/" target="_blank">ICPC World Finals</a> with a bronze medal, after ranking 11th place in the 2021 Arab Collegiate Programming Championship.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and ideas &mdash; combining my technical knowledge
      with my keen eye for design to create a meaningful product. My goal is to always build applications that are scalable
      and efficient under the hood while managing all sort of data behind the scene.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably writing Arabic calligraphy, playing around with ancient typograpyhy.
    </p>

<!--     {% include employment-status.html %} -->
  </div>
</section>
