<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Software Engineer at
      <a class="underline-link" href="https://bld.ai/" target="_blank">bld.ai</a>, building your awesome stuff with awesome people. Also, I am a senior systems and computer engineering student at 
      <a class="underline-link" href="http://www.azhar.edu.eg/" target="_blank">Al-Azhar University</a>. Indeed, I am passionate of algorithms and data structures, having good problem-solving skills that developed over my journey in competitive programming, reaching 
      <a class="underline-link" href="http://www.icpc.global/" target="_blank">ICPC World Finals</a> with a bronze medal, after ranking 11th place in the 2021 Arab Collegiate Programming Championship.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and ideas &mdash; combining my technical knowledge
      with my keen eye for design to create a meaningful product. My goal is to always build applications that are scalable
      and efficient under the hood while managing all sort of data behind the scene.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably writing Arabic calligraphy, playing around with ancient typograpyhy.
    </p>

<!--     {% include employment-status.html %} -->
  </div>
</section>
